{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block body%}
    <p>hello</p>
    <div class="main-home">
        <div class="most-download">
            <div class="art-content">

            </div>
        </div>
        <div class="content-art-category">
            <div class="latest-add">
                <div class="art-content">

                </div>
            </div>
            <div class="category">
                <div class="category-content">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block mainContent %}
{% endblock %}
