<nav id="navbar">
    <div class="logo">
        <i class="fas fa-film">Moovie-Zoom</i>
    </div>
    <div class="content-link-nav">
        <a href="#" class="link-nav">Accueil</a>
        <a href="#" class="link-nav">A propos</a>
        <a href="#" class="link-nav">Contact</a>
        <a href="#" class="link-nav">Article</a>
    </div>
    <div class="search-moovie">
        <input type="text" placeholder="Kill Bill..." class="search-content">
        <a href="#"><i class="fas fa-search"></i>
    </div></a>
</nav>